In [23]:
import pandas as pd
import datetime

In [24]:
emails_cleaned = pd.read_csv('emails_cleaned.csv')
emails_cleaned = emails_cleaned[["Date", "From", "To"]]

def str2datetime(Date):
    Date = Date.split("(")[0]
    date_time_obj = datetime.datetime.strptime(Date, '%a, %d %b %Y %H:%M:%S %z ')
    return date_time_obj.date()

dates = emails_cleaned['Date'].apply(str2datetime)
# dates = pd.to_datetime(dates, infer_datetime_format=True)

In [25]:
emails_cleaned.insert(0,'Dates',dates)
emails_cleaned = emails_cleaned.drop(columns = ['Date'])
emails_cleaned = emails_cleaned.dropna()
emails_cleaned = emails_cleaned.drop_duplicates()
emails_cleaned = emails_cleaned.sort_values(by=['Dates'])

In [26]:
emails_cleaned

,Dates,From,To
443793,0001-05-30,payables.ibuyit@enron.co,jeff.skilling@enron.co
342330,0001-06-07,payables.ibuyit@enron.co,scott.neal@enron.co
390578,0001-06-18,payables.ibuyit@enron.co,holden.salisbury@enron.co
391543,0001-07-24,payables.ibuyit@enron.co,holden.salisbury@enron.co
288078,0001-08-01,payables.ibuyit@enron.co,michelle.lokay@enron.co
...,...,...,...
43809,2020-12-24,jody421@hotmail.co,undisclosed.recipients@mailman.enron.co
43852,2020-12-29,jody421@hotmail.co,undisclosed.recipients@mailman.enron.co
517041,2043-12-28,cramer@cadvision.co,"linsider.jed@enron.com, john.zufferli@enron.co..."
517038,2044-01-02,cramer@cadvision.co,john.zufferli@enron.co
517035,2044-01-04,cramer@cadvision.co,john.zufferli@enron.co